<header>
    <nav class="top-nav">
        <a href="index.html" class="logo">MyWebsite</a>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="agnosia.html">Agnosia</a></li>
            <li><a href="enigma.html">Enigma</a></li>
            <li><a href="emulate.html">Emulate</a></li>
            <li><a href="feed.html">Feed</a></li>
            <li><a href="profile.html">Profile</a></li>
            <li><a href="settings.html">Settings</a></li>
            <li><a href="latest-update.html">Latest Update</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="share.html">Share</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        <button id="back-button" onclick="goBack()">Back</button>
    </nav>
</header>
<nav class="bottom-nav">
    <a href="index.html">Home</a>
    <a href="enigma.html">Enigma</a>
    <a href="feed.html">Feed</a>
    <a href="agnosia.html">Agnosia</a>
    <a href="emulate.html">Emulate</a>
</nav>
